<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoomTypeController</servlet-name>
        <servlet-class>controller.ListRoomTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomTypeController</servlet-name>
        <servlet-class>controller.AddRoomTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoomController</servlet-name>
        <servlet-class>controller.ListRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomController</servlet-name>
        <servlet-class>controller.AddRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomerController</servlet-name>
        <servlet-class>controller.ListCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationCustomer</servlet-name>
        <servlet-class>controller.InformationCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>informationRoomController</servlet-name>
        <servlet-class>controller.InformationRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addContractController</servlet-name>
        <servlet-class>controller.AddContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerController</servlet-name>
        <servlet-class>controller.AddCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationDBContext</servlet-name>
        <servlet-class>controller.notification.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBillController</servlet-name>
        <servlet-class>controller.AddBillController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRoomTypeController</servlet-name>
        <url-pattern>/admin/roomtype/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomTypeController</servlet-name>
        <url-pattern>/admin/roomtype/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRoomController</servlet-name>
        <url-pattern>/admin/room/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomController</servlet-name>
        <url-pattern>/admin/room/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomerController</servlet-name>
        <url-pattern>/admin/customer/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationCustomer</servlet-name>
        <url-pattern>/admin/customer/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>informationRoomController</servlet-name>
        <url-pattern>/admin/room/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addContractController</servlet-name>
        <url-pattern>/admin/contract/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerController</servlet-name>
        <url-pattern>/admin/customer/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationDBContext</servlet-name>
        <url-pattern>/admin/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBillController</servlet-name>
        <url-pattern>/admin/bill/add</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
